{% extends 'base.html' %}
{%block content%}




    <div class="container">
    <h1>Romanian CookBook</h1>
    </div>

    <h1> Recipies</h1>

  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Recipies
  </a>
  <a href="/Sarmale" class="list-group-item list-group-item-action">Sarmale</a>
  <a href="/mici" class="list-group-item list-group-item-action">Mici</a>
  <a href="/ciorbaBurta" class="list-group-item list-group-item-action">Ciorba Burta</a>

</div>
    

{% endblock %}